body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}


.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}


.slideDeckButtons {
  margin-top: 70%;
}

.slideDeckAutoButton {
  margin-left: 90%;
  margin-top: 10%;
}

.centerSlide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 600px;
  max-height: 600px;
}


.slideContainer {
  top: 20%;
  left: 10%;
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 0.5em;
  background-color: #fad3fa ;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

